
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FQA登録画面</title>
<script src="/scripts/jquery-3.3.1.min.js"></script>
<script src="/scripts/base/base.js"></script>
<link href="/css/admin/style.css" rel="stylesheet" />
<!--  ここからuse/index重複は削除 -->
<script src="/scripts/jquery.validate.min.js"></script>
<script src="/scripts/base/index.js"></script>
</head>
<body>
	<div id="wrapper">
		<div class="top">
			<div class="dropdown" style="float: right">
				<button class="dropbtn">admin</button>
				<div class="dropdown-content">
					<a href="/adminLogOut">ログアウト</a>
				</div>
			</div>
		</div>
		<div class="bodyer">
			<div class="bd-left">
				<ul>
					<li id="click_1"><a class="border-color" href="#">FQA管理</a></li>
					<div class="funBackgroungColor">
						<li id="fun1" class="hidden"><a href="/addFqaPage">FQA新規追加</a></li>
						<li id="fun2" class="hidden"><a href="/fqaList">FQA一覧表示</a></li>
						<li id="fun2" class="hidden"><a>FQA編集</a></li>
					</div>
				</ul>
			</div>
<!-- 			<div style="margin-left: 50%; padding: 1px 16px;">
				<h2>FQA管理システム</h2>
			</div> -->
			<div class="bd-right">
			   <h2 style="text-align: center;">FQA一覧</h2>
				<div>
					<table>
						<th>タイトル</th>
						<th>公開設定</th>
						<tr　th:each="content:${page.getList()}">
							<td><img
							style="width: 13px; height: 13px; margin-right: 4px"
							th:src="@{/img/02.jpg}"><a th:href="@{'/fqaData/'+ ${content.getCid()}}"
							th:text="${content.getFqaQuestion()}"></a></td>
							<td style="text-align:center;"><a th:text="${content.getDelFlag()==0?'公開':'非公開'}"></a></td>
						</tr>
					</table>
				</div>
				<div>
					<div style="margin-top: 20px; margin-left: 600px;">
						<a id="prePage" th:href="@{'/fqaList/'+${page.getPageNum()-1}}">前のページ
						</a> <label id="lab1" th:text="${page.getPageNum()}"></label>/<label
							id="lab2" th:text="${page.getPageCount()}"></label> <a
							id="nextPage" th:href="@{'/fqaList/'+${page.getPageNum()+1}}">次のページ</a>
					</div>
				</div>				   
			</div>
			
		
		</div>

	</div>


</body>
</html>
