#wrapper {
	margin: 10px auto;
	width: 1000px;
	height: 1000px
}

.top {
	margin: 0;
	padding: 0;
	height: 70px;
	background-color: #1e26b929;
}

#pagetitle {
	/*margin: 0 0 16px 18px;*/
	margin: auto;
	padding: 0;
	border: solid 1px #d5d5d5;
}

.funBackgroungColor {
	margin-left: 10px;
	text-align: left;
	font-size: revert;
}

.funBackgroungColor a {
	margin: 8px;
	padding: 5px
}

.funBackgroungColor div {
	margin-bottom: 10px;
}

.bodyer {
	margin-top: 10px;
	height: 1500px;
}

.bd-left {
	float: left;
	width: 200px;
	height: 200px;
	padding: 1px 5px 12px;
	background-color: #f7f7f7;
	border: solid 1px #004080;
}

div.bluept01b .title {
	font-size: 100%;
	line-height: 1.45em;
}

.bd-right {
	float: right;
	text-align: left;
	margin-left: 8px;
	width: 770px;
	height: 500px;
	background-color: #f7f7f7;
	border: solid 1px;
	padding: 4px
}

.bd-right-box1 {
	float: right;
	text-align: left;
	margin-left: 8px;
	width: 760px;
	height: 150px;
	background-color: #f7f7f7;
	border: solid 1px;
	padding: 9px
}

.bd-right-box2 {
	float: right;
	text-align: left;
	margin-top: 8px;
	margin-left: 8px;
	width: 760px;
	height: 630px;
	background-color: #f7f7f7;
	border: solid 1px;
	padding: 9px
}

.bluept01 {
	border-bottom: solid 2px #ff0080;
	margin-bottom: 15px;
	margin-left: 15px
}

.bluept02 {
	margin-top: 10px;
	margin-left: 15px
}

.line-color {
	margin-right: 10px;
	margin-left: 10px;
	height: 30px;
	border-bottom: solid 2px #ff0080
}

ul {
	border-bottom: solid 1px green;
	margin-right: 15px
}

hr {
	background-color: #ff00ff;
}

.bd-right-box2 .line {
	margin-bottom: 5px;
}

.lefttop {
	margin: 0;
	padding: 0;
	width: 18%;
	height: 80px;
	background-color: silver;
}

.hidden {
	display: inline;
}

.dropbtn {
	background-color: #555;
	color: white;
	padding: 16px;
	border: none;
	cursor: pointer;
	width: 115px;
	height: 70px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #555;
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #555;
}

#fqaQuestion {
	width: 600px;
	height: auto;
}

#fqaContent {
	width: 600px;
	height: 120px;
}


table {
	width: 100%;
}

td {
	text-align: center;
}

a {  
	color: blue;
}

#prePage {
	margin-left: 10px;
	margin-bottom: 5px
}


/*	通常のフォント	1.4*/
.txt, .txttitle {
	font-size: 100%;
	line-height: 1.45em;
}